body {
    background-color: #0000ff;
}

div.main {
    margin-top: 65px;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

div.block {
    padding-top: 15px;
}

h1.title {
    text-align : center;
}

img.round {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

@media (max-width: 700px) {
    img.round {
        width: 100px;
        height: 100px;
    }
}

p {
    text-align: center;
    margin-top: 15px;
}

div.social a {
    display: block;
    margin-left: 110px;
    margin-right: 110px;
}

.imagemessi {
    margin-left: 330px;
    margin-right: 110px;
}